<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green Casa</title>
    <link rel="icon" type="image/x-icon" href="https://as1.ftcdn.net/v2/jpg/02/93/50/08/1000_F_293500889_YVID9WpEpRiKhmzpfkI8ySyphoOqttmI.jpg">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--font awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>

        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <span class="arrow_carrot-down"></span>
            </div>
            <div class="header__top__right__auth">
                <% if (user) { %>
                    <a class="text-white" href="/logout"><i class="fa fa-user "></i>LogOut</a>
                    <% } else { %>
                        <a class="text-white" href="/login"><i class="fa fa-user "></i>LogIn</a>
                        <% } %>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/home">Home</a></li>
                <li class="active"><a href="/products">Products</a></li>
                <% if (user) { %>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <% } %>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <% if (user) { %>
                    <li><b>Welcome, <%= user.name %></b></li>
                    <% } %>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <% if (user) { %>
                                    <li class="text-white"><b>Welcome, <%= user.name %></b></li>
                                    <% } else { %>
                                        <li class="text-white"><b>Welcome, Guest</b></li>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <% if (user) { %>
                                    <a class="text-white" href="/logout"><i class="fa fa-user "></i>LogOut</a>
                                    <% } else { %>
                                        <a class="text-white" href="/login"><i class="fa fa-user "></i>LogIn</a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="#" style="font-size: xx-large; color: green;"><i class="fa-solid fa-seedling"
                                style="color: green;"></i><b>Green Casa</b></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a href="/products">Products</a></li>
                            <% if (user) { %>
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/orders">Orders</a></li>
                                <% } %>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="/wishlist">
                                    <i class="fa fa-heart"></i>
                                    <span id="wishlist-count">
                                        <%=wishlistCount %>
                                    </span>
                                </a>
                            </li>

                            <% if (user) { %>
                                <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span id="cart-count">
                                            <%= cartCount %>
                                        </span></a></li>
                                <li><a href="/wallet"><i class="fa fa-wallet"></i></a></li>

                                <% } else { %>
                                    <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                                    <% } %>
                        </ul>
                        <% if (user) { %>
                            <div class="header__cart__price">item: <span>
                                    <%= items.length> 0 ? totalPrice : "0.00" %>
                                </span></div>
                            <% } %>
                    </div>
                </div>

            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <% categories.forEach(category=> { %>
                                <li><a>
                                        <%= category.name %>
                                    </a></li>
                                <% }); %>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form " style=" border: none;">

                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <!--  -->


                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hero__item set-bg text-white"
                                    data-setbg="https://img.freepik.com/premium-photo/home-office-with-computer-desk-window-with-plants-wall_938060-51.jpg">
                                    <div class="hero__text">

                                        <h2 class="text-white">Make your Space<br /></h2>
                                        <h3><b style="color: rgb(4, 250, 4);">Greener</b><br> with Plants</h3>
                                        <p></p>
                                        <a href="/products" class="primary-btn">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="hero__item set-bg"
                                    data-setbg="https://824911803b.nxcli.io/wp-content/uploads/2019/04/inner-banner.jpg">
                                    <div class="hero__text">

                                        <h2>Happiness Is<br /></h2>
                                        <h3><b style="color: green;">Having more and more plants<br></b> with Best
                                            offers!</h3>
                                        <p></p>
                                        <a href="?showOffers=true" class="primary-btn">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hero__item set-bg" style="background-position: right;"
                                    data-setbg="https://plantperfect.com/wp-content/uploads/2022/11/Plant-Perfect-Garden-Center-Bismarck-Incorporate-Plat-Pottery-into-Home-Decor-white-theme-pots.jpg">
                                    <div class="hero__text">

                                        <h2>Happiness Is</h2>
                                        <h3><br /><b style="color: green;">Having Cute Indoor Collections</b><br> with
                                            Best offers!</h3>
                                        <p></p>
                                        <a href="?showOffers=true" class="primary-btn">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg "
                            data-setbg="https://hips.hearstapps.com/hmg-prod/images/string-of-pearls-plant-royalty-free-image-1680642095.jpg?crop=0.669xw:1.00xh;0.113xw,0&resize=980:*">
                            <h5><a href="?category=Indoor Plants">Indoor Plants</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg "
                            data-setbg="https://gangajalnursery.com/assets/images/plants/decorative-plants.jpg">
                            <h5><a href="?category=Outdoor Plants">Outdoor Plants</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg "
                            data-setbg="https://88acres.com/cdn/shop/files/sunflower-seeds-hero_077382f7-871a-41a7-975c-6528942b2db8_1024x1024.png?v=1614327599">
                            <h5><a href="?category=Seeds">Seeds</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg "
                            data-setbg="https://m.media-amazon.com/images/I/81CDZkL9JjL._AC_UF894,1000_QL80_.jpg">
                            <h5><a href="?category=Pots">Pots</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg "
                            data-setbg="https://media.gettyimages.com/id/165831199/photo/gardening-hand-trowel-and-fork-standing-in-garden-soil.jpg?s=612x612&w=gi&k=20&c=zD4Xbc5RGxpoDqTRMJvlFPQFmtqYQKZvWKHfP6ckIew=">
                            <h5><a href="?category=Accessoreis">Accessoreis</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg "
                            data-setbg="https://rukminim2.flixcart.com/image/850/1000/ku5ufm80/soil-manure/p/z/b/440-100-organic-vermicompost-fertilizer-manure-for-al-types-of-original-imag7cs9xs9vb9v7.jpeg?q=90&crop=false">
                            <h5><a href="?category=Fertilizers">Fertilizers</a></h5>
                        </div>
                    </div>
                    <!-- Add more categories as needed -->
                </div>
            </div>
        </div>
    </section>

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row featured__filter">

                    <% if (products.length> 0) { %>
                        <% products.forEach(product=> { %>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/images/<%= product.image[0] %>">
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#" class="add-to-wishlist" data-id="<%= product._id %>"><i
                                                        class="fa fa-heart"></i></a></li>
                                            <li><a href="/product-detail?id=<%= product._id %>"><i
                                                        class="fa fa-retweet"></i></a></li>
                                            <li><a href="#" class="add-to-cart" data-id="<%= product._id %>"><i
                                                        class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">
                                                <%= product.name %>
                                            </a></h6>
                                        <% if (product.offerPrice) { %>
                                            <div class="price-container">
                                                <h5 class="product__offer-price">₹<%= product.offerPrice.toFixed(2) %>
                                                </h5>
                                                <del class="product__original-price text-muted">₹<%=
                                                        product.discountprice.toFixed(2) %></del>
                                                <p class="text-danger">
                                                    <%= product.offerPercentage %>% OFF
                                                </p>
                                            </div>
                                            <% } else { %>
                                                <h5 class="product__original-price">₹<%=
                                                        product.discountprice.toFixed(2) %>
                                                </h5>
                                                <% } %>

                                                    <% if(product.stock <=20 && product.stock !=0){ %>
                                                        <h6 class="text-success">Only few left</h6>
                                                        <% } else if(product.stock> 20) { %>
                                                            <h6 class="text-success">In stock</h6>
                                                            <% } else { %>
                                                                <h6 class="text-danger">Out of stock</h6>
                                                                <% } %>
                                    </div>

                                </div>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p>Products Not found</p>
                                    <% } %>
                </div>

            </div>
        </div>
        </div>
    </section>
    <!-- Featured Section End -->


    <!-- Footer Section Begin -->
    <%- include('../layouts/userfooter.ejs') %>

        <!-- Footer Section End -->
        <script>
            document.querySelectorAll('.add-to-cart').forEach(button => {
                button.addEventListener('click', async (event) => {
                    event.preventDefault();
                    const productId = event.currentTarget.getAttribute('data-id');

                    try {
                        const response = await fetch('/cart/add', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ productId })
                        });

                        const result = await response.json();
                        if (result.success) {
                            document.getElementById('cart-count').textContent = result.cartCount;
                            Swal.fire({
                                icon: 'success',
                                title: 'Added to Cart',
                                text: 'Product has been added to your cart.',
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Error adding product to cart',
                            });
                        }
                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error adding product to cart',
                        });
                        console.error('Error:', error);
                    }
                });
            });
        </script>
        <!-- Js Plugins -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>


</body>

</html>